.rounded-custom-1 {
    border-radius: 20px !important;
}

body {
    background-color: unset;
    background-image: linear-gradient(0deg, rgba(9, 105, 51, 0.3), rgba(9, 105, 51, 0.8)), url(./../images/temanggung-wallpaper.jpg);
}
