.form-control.error {
  border: 1px solid red !important;
}
.form-control.select2-show-search.error + .select2.select2-container .select2-selection--single {
  border: 1px solid red !important;
}
.form-control.select2.error + .select2.select2-container .select2-selection--single {
  border: 1px solid red !important;
}
.form-control.select2.error {
  border: 1px solid red !important;
}

.error {
  color: red !important;
}

.rounded-custom-1 {
  border-radius: 20px !important;
}

body {
  background-color: unset;
  background-image: linear-gradient(0deg, rgba(9, 105, 51, 0.3), rgba(9, 105, 51, 0.8)), url(./../images/temanggung-wallpaper.jpg);
}