.form-control {
    &.error {
        border: 1px solid $color-form-error !important;
    }

    &.select2-show-search.error+.select2.select2-container {
        .select2-selection--single {
            border: 1px solid $color-form-error !important;
        }
    }

    &.select2.error+.select2.select2-container {
        .select2-selection--single {
            border: 1px solid $color-form-error !important;
        }
    }

    &.select2.error {
        border: 1px solid $color-form-error !important;
    }
}

.error {
    color: $color-form-error !important;
}
